.inputLink:not([value=""]):focus:invalid {
    border: 2px solid var(--chakra-colors-red-500);
}
.gdocsIframe {
    width: 100%;
    height: 70vh;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .gdocsIframe {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height: 68vh;
    }
  }